.header{
    background-color: purple;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo{
    background-color: #ff7f7f;
    height: 35px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }
.title{
    color: white;
    justify-content: left;
    display: flex;
    align-items: flex-start;
}

.login-register-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
}

.authentication-header{
  background-color: purple;
  height: 70px;
  align-content: center;
  color: white;
  justify-content: center;
}